<h2>Roles</h2>

<ul>
<li>Searcher</li>
<li>Reporter</li>
<li>Guest</li>
<li>Registered</li>
<li>Admin</li>
<li>Announcer</li>
<li>Scheduler</li>
</ul>

<h2>USE CASE</h2>

<ul>
<li>     Reporting </li>
<li><ul>
<li> New Report</li>
<li>  REPORTER submits new report</li> 
<li>  ADMIN approves report</li>
</ul></li>
<li><ul>
<li> Update Report</li>
<li>  REPORTER submits update</li>
<li>  ADMIN approves update</li>
<li>  Are updates "Comments" or can the original details be changed?</li>
</ul>

<h2>Resource Data Models</h2>

<ul>
<li> Food </li>
<li> <ul>
<li>  Bread_Bagles_Pastries</li>
<li>  Meat_Fish_Poultry</li>
<li>  Vegetables_Fruit_Produce</li>
<li>  Meals_Sandwiches</li>
<li>  Packaged_Foods</li>
<li>  Eggs</li>
<li>  Dairy</li>
<li>  Juices</li>
</ul></li>
<li> HealthBeauty</li>
<li> Flowers</li>
<li> Miscellaneous</li>
</ul>

<h2>STORES</h2>

<ul>
<li>Gristedes</li>
<li>Duane Reade</li>
<li>Pain Quotidien</li>
<li>Garden of Eden </li>
</ul>

<h2>Space</h2>

<ul>
<li>Geocoding</li>
<li>Google API </li>
</ul>

<h2>Time</h2>

<ul>
<li> DATE (MMDDYYYY)</li>
<li> PERIOD (Scheduling Calendar)</li>
<li><ul>
<li>  Hours of Day</li>
<li>  Days of Week</li>
 </li></ul>
</ul>

<h2>Searches</h2>

<h2>Security</h2>

<ul>
<li>Spammers</li>
<li>Admins must be able to moderate comments</li>
<li>Approve comment before posting</li>
<li>Delete Flagged Comment</li>
<li>Delete User who has been abusing the system</li>
<li><p>Administrative interface</p></li>
<li><p>Anonymity</p>

<ul>
<li>Location/Identity/ISP of the posting must be hidden or scrubbed</li>
<li>Tor</li>
</ul></li>
</ul>

<h2>Registered User</h2>

<ul>
<li>Persistent Identity across searches and reports</li>
</ul>

<h2>External Resources</h2>

<ul>
<li>596 Acres</li>
<li>freegan.info Dumpster Directory</li>
<li>German Diving Site</li>
<li>Freecycle</li>
<li>Couchsurfer</li>
</ul>

<h2>Curb Alerts</h2>

<ul>
<li>Probably Not</li>
</ul>

<h2>Events/Calendar</h2>

<ul>
<li> Free Meals</li>
<li><ul>
<li>  Grub</li>
<li>  Food Not Bombs</li>
<li>  Freegan Feast</li>
</ul></li>
<li> Making Announcements</li>
<li><ul>
<li>  Posting Date</li>
<li>  Location may be Public or Private</li>
<li>  RSVP</li>
</ul></li>
<li> Interface with Existing Web Services for Events</li>
<li><ul>
<li>  Facebook</li>
<li>  Meetup</li>
</ul></li>
</ul>

<h2>Comunications (for Registered Users)</h2>

<ul>
<li>Diving partners</li>
<li>Squatting partners</li>
<li>Hitchhiking</li>
</ul>

<h2>Diving</h2>

<ul>
<li>Site Map</li>
</ul>

<h2>Housing</h2>

<ul>
<li>House Reports</li>
<li>Housing Offered</li>
<li>Housing Wanted</li>
<li>Squat Invitations</li>
</ul>
